#VSCode stuff
.vscode/

# ROOT files
*.root

# Virtual environment
venv/

# Typst files for documentation
*.typvenv/
*.typ

# Ignore parquet files
*.parquet

# Ignore csv files
*.csv

# Ignore keras files
*.keras
