# VSCode stuff
.vscode/

# ROOT files
*.root

# Virtual environment
venv/

# Pycache
MET_models/__pycache__/
*.pyc

# Typst files for documentation
*.typvenv/
*.typ

# parquet files
*.parquet

# csv files
*.csv

# png
*.png

# pdf
*.pdf